body {
  background-color: #fbf4e1;
}

header {
    border: 1px solid black;
    padding: 35px;
    text-align: center;
    background-color:#e9775a;
}

nav {
  padding-left: 7%;
  font-size: 21px;

}

li {
    list-style: none;
    color: #501537;
    display: inline-block;
    font-family: Georgia, serif;
}

div {
  padding: 5px;
  color: #2f0b00;
}

footer {
  text-align: center;
  color:#ac996c

}

.quotation {
  text-align: center;
  font-style: italic;
  font-size: 22px;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 15px;
}


.chapter-heading {
  margin-bottom: 50px;
  font-size: 14pt;
}

.second-heading {
  padding: 35px; 
  text-align: left;

}

h1 {
  padding-top: 55px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #e9775a;
  font-size: 60px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
  
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 29px;
  color: #501704;
  background-color: #e9775a;
  
}

h4, p {
max-width: 80%;
margin: 0 auto;
}

p {
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  font-style: italic;
  font-size: 22px;
  max-width: 65%;
  margin: 0 auto;
  margin-bottom: 8px;
  color:#501537;
}

hr {
  max-width: 33%;
  margin-bottom: 20px;
}

h5 {
  text-align: center;
  font-size: 100px;
  margin-top: 40px;
  color: #e9775a;
  margin-bottom: 60px;
}

img {
  display: block;
  max-width: 500px;
  margin: auto;
  padding-bottom: 25px;

}
