body {
  background-color: seashell;
}
h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgb(255, 152, 111);
  font-size: 50px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
  
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 27px;
  color: #501704;
  background-color: rgb(255, 152, 111);
  
}

h4, p {
max-width: 80%;
margin: 0 auto;
}

p {
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  font-style: italic;
  padding-bottom: 22px;
  max-width: 65%;
  margin: 0 auto;
}

hr {
  max-width: 33%;
  margin-bottom: 20px;
}

h5 {
  text-align: center;
  font-size: 100px;
  margin-top: 40px;
  color: rgb(255, 207, 187);
}